﻿@model JapaneseForum.Models.TestViewModels.DoTestViewModel

@{
    ViewData["Title"] = "DoTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .marginleft20 {
        margin-left: 20px;
    }

    .paddingtop20 {
        padding-top: 20px;
    }

    .clear {
        clear: both;
    }
</style>
<form asp-action="DoTest">
    <div class="h1 text-success col-md-8">@Model.TestName</div>
    <div id="countdown" class="h3 text-danger col-md-4"></div>
    @Html.HiddenFor(m => m.TestId)
    @Html.HiddenFor(m => m.TestName)
    @for (int i = 0; i < Model.QuestionTypeList.Count(); i++)
    {
        <div class="clear">
            <div class="row h2 text-info">@Model.QuestionTypeList[i].TypeName</div>
            @Html.HiddenFor(m => m.QuestionTypeList[i].TypeName)
            <div class="marginleft20">
                @for (int j = 0; j < Model.QuestionTypeList[i].QuestionList.Count(); j++)
                {
                    @Html.HiddenFor(m => m.QuestionTypeList[i].QuestionList[j].No)
                    @Html.HiddenFor(m => m.QuestionTypeList[i].QuestionList[j].Id)
                    @Html.HiddenFor(m => m.QuestionTypeList[i].QuestionList[j].AnswerA)
                    @Html.HiddenFor(m => m.QuestionTypeList[i].QuestionList[j].AnswerB)
                    @Html.HiddenFor(m => m.QuestionTypeList[i].QuestionList[j].AnswerC)
                    @Html.HiddenFor(m => m.QuestionTypeList[i].QuestionList[j].AnswerD)
                    <div class="col-md-4">
                        <div class="row">
                            @Html.Raw("Câu " + Model.QuestionTypeList[i].QuestionList[j].No + ": ")
                        </div>
                        <div class="marginleft20">
                            <div class="row">
                                @Html.Raw(Model.QuestionTypeList[i].QuestionList[j].Content)
                            </div>
                            <div class="row">
                                @Html.RadioButtonFor(m => m.QuestionTypeList[i].QuestionList[j].ChoosenAnswer, 1) @Html.DisplayFor(m => m.QuestionTypeList[i].QuestionList[j].AnswerA)
                            </div>
                            <div class="row">
                                @Html.RadioButtonFor(m => m.QuestionTypeList[i].QuestionList[j].ChoosenAnswer, 2) @Html.DisplayFor(m => m.QuestionTypeList[i].QuestionList[j].AnswerB)
                            </div>
                            <div class="row">
                                @Html.RadioButtonFor(m => m.QuestionTypeList[i].QuestionList[j].ChoosenAnswer, 3) @Html.DisplayFor(m => m.QuestionTypeList[i].QuestionList[j].AnswerC)
                            </div>
                            <div class="row">
                                @Html.RadioButtonFor(m => m.QuestionTypeList[i].QuestionList[j].ChoosenAnswer, 4) @Html.DisplayFor(m => m.QuestionTypeList[i].QuestionList[j].AnswerD)
                            </div>
                            @Html.ValidationMessageFor(m => m.QuestionTypeList[i].QuestionList[j].ChoosenAnswer, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    <div class="clear paddingtop20">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="submit" id="btn-Submit" value="Create" class="btn btn-odnoklassniki" />
    </div>
</form>

@section Scripts{
<script>
    var end = new Date('@ViewBag.Time');

    var _second = 1000;
    var _minute = _second * 60;
    var _hour = _minute * 60;
    var _day = _hour * 24;
    var timer;

    timer = setInterval(showRemaining, 1000);
    function showRemaining() {
        var now = new Date();
        var distance = end - now;
        if (distance < 0) {

            clearInterval(timer);
            document.getElementById("btn-Submit").click();

            return;
        }
        var days = Math.floor(distance / _day);
        var hours = Math.floor((distance % _day) / _hour);
        var minutes = Math.floor((distance % _hour) / _minute);
        var seconds = Math.floor((distance % _minute) / _second);

        document.getElementById('countdown').innerHTML = String("0" + hours).slice(-2) + ':';
        document.getElementById('countdown').innerHTML += String("0" + minutes).slice(-2) + ':';
        document.getElementById('countdown').innerHTML += String("0" + seconds).slice(-2);
    }
</script>
}