﻿@model JapaneseForum.Models.TestViewModels.CreateTestViewModel

    @{
        ViewData["Title"] = "Edit";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Sửa bài test Id @Model.Id</h2>

    <form asp-action="Edit">
        <div class="form-horizontal">
            <h4>TestViewModel</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TestName" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="TestName" class="form-control" />
                    <span asp-validation-for="TestName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="TestTime" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="TestTime" class="form-control" />
                    <span asp-validation-for="TestTime" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="Status" class="form-control" asp-items="@Model.StatusList"></select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>

    <div>
        <a asp-action="Index">Trở về trang danh sách</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
