﻿@model JapaneseForum.Models.TestViewModels.ListTestViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@if (User.IsInRole(ConstAuthozation.ROLE_ADMIN) || User.IsInRole(ConstAuthozation.ROLE_TEACHER))
{
    <p>
        <a class="btn btn-1BBC9B" asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListTest.FirstOrDefault().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListTest.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListTest.FirstOrDefault().StatusText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListTest.FirstOrDefault().CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListTest.FirstOrDefault().CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListTest.FirstOrDefault().UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListTest.FirstOrDefault().UpdatedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListTest)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOwner)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedOwner)
                </td>
                <td>
                    @if (await AuthorizationService.AuthorizeAsync(User, item, Operations.Update))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })<text> |</text>
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })<text> |</text>
                        @Html.ActionLink("Thêm hoặc sửa câu hỏi", "Create", "Questions", new { testId = item.Id }) <text> | </text>
                    }
                    @if (!(item.Status == StatusEnum.Draft || item.Status == StatusEnum.InActive || !await AuthorizationService.AuthorizeAsync(User, item, Operations.DoTest)))
                    {
                        @Html.ActionLink("Làm bài kiểm tra", "DoTest", "Tests", new { testId = item.Id });
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
