﻿@model JapaneseForum.Models.TestViewModels.DoTestViewModel

@{
    ViewData["Title"] = "DoTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="h1 text-success">Kết quả thi @Model.TestName: @Model.Mark / @ViewBag.QuestionNo</div>
@Html.HiddenFor(m => m.TestName)
@for (int i = 0; i < Model.QuestionTypeList.Count(); i++)
{
    <div class="clear">
        <div class="row h2 text-info">@Model.QuestionTypeList[i].TypeName</div>
        @Html.HiddenFor(m => m.QuestionTypeList[i].TypeName)
        <div class="marginleft20">
            @for (int j = 0; j < Model.QuestionTypeList[i].QuestionList.Count(); j++)
                {
                @Html.HiddenFor(m => m.QuestionTypeList[i].QuestionList[j].Id)
                <div class="col-md-4">
                    <div class="row">
                        @Html.Raw(Model.QuestionTypeList[i].QuestionList[j].No + ". " + Model.QuestionTypeList[i].QuestionList[j].Content)
                    </div>
                    <div class='row @(Model.QuestionTypeList[i].QuestionList[j].RightAnswer ==  1 ? "bg-success" : "")'>
                        @Html.RadioButtonFor(m => m.QuestionTypeList[i].QuestionList[j].ChoosenAnswer, 1, new { @class = "disabled" }) @Html.DisplayFor(m => m.QuestionTypeList[i].QuestionList[j].AnswerA)
                    </div>
                    <div class='row @(Model.QuestionTypeList[i].QuestionList[j].RightAnswer ==  2 ? "bg-success" : "")'>
                        @Html.RadioButtonFor(m => m.QuestionTypeList[i].QuestionList[j].ChoosenAnswer, 2, new { @class = "disabled" }) @Html.DisplayFor(m => m.QuestionTypeList[i].QuestionList[j].AnswerB)
                    </div>
                    <div class='row @(Model.QuestionTypeList[i].QuestionList[j].RightAnswer ==  3 ? "bg-success" : "")'>
                        @Html.RadioButtonFor(m => m.QuestionTypeList[i].QuestionList[j].ChoosenAnswer, 3, new { @class = "disabled" }) @Html.DisplayFor(m => m.QuestionTypeList[i].QuestionList[j].AnswerC)
                    </div>
                    <div class='row @(Model.QuestionTypeList[i].QuestionList[j].RightAnswer ==  4 ? "bg-success" : "")'>
                        @Html.RadioButtonFor(m => m.QuestionTypeList[i].QuestionList[j].ChoosenAnswer, 4, new { @class = "disabled" }) @Html.DisplayFor(m => m.QuestionTypeList[i].QuestionList[j].AnswerD)
                    </div>
                </div>
            }
        </div>
    </div>
}
<style>
    .marginleft20 {
        margin-left: 20px;
    }

    .paddingtop20 {
        padding-top: 20px;
    }

    .clear {
        clear: both;
    }
</style>
