﻿@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/font-awesome.css">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-social.css">
        <link rel="stylesheet" href="~/lib/datepicker/datepicker.css">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/font-awesome.css">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-social.css">
        <link rel="stylesheet" href="~/lib/datepicker/datepicker.css">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <div class="wrapper">
        <nav class="header-invisible">
            <div class="navbar-collapse collapse">
                <div class="row">
                    <div class="left header-logo"><a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Japanese Forum</a></div>
                    <div class="right">
                        @await Html.PartialAsync("_LoginPartial")
                    </div>
                </div>
            </div>
        </nav>
        <nav class="header-fixed">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!-- #region Home menu -->

                    @if (@Context.Request.Path.ToString().Equals("/"))
                    {
                        <li class="active-link">
                            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><span class="glyphicon glyphicon-home"></span></a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><span class="glyphicon glyphicon-home"></span></a>
                        </li>
                    }

                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (@Context.Request.Path.ToString().Contains(ConstDirection.PostDirection))
                        {
                            <li class="active-link">
                                <a asp-area="" asp-controller="Post" asp-action="Index">Danh sách bài viết</a>
                            </li>
                        }
                        else
                        {
                            <li><a asp-area="" asp-controller="Post" asp-action="Index">Danh sách bài viết</a></li>
                        }
                    }

                    @if (@Context.Request.Path.ToString().Contains(ConstDirection.LearnDirection))
                    {
                        <li class="active-link"><a asp-area="" asp-controller="Post" asp-action="Learn">Bài học</a></li>
                    }
                    else
                    {
                        <li><a asp-area="" asp-controller="Post" asp-action="Learn">Bài học</a></li>
                    }

                    @if (@Context.Request.Path.ToString().Contains(ConstDirection.TeacherAskDirection))
                    {
                        <li class="active-link"><a asp-area="" asp-controller="Post" asp-action="TeacherAsk">Thưa cô em hỏi</a></li>
                    }
                    else
                    {
                        <li><a asp-area="" asp-controller="Post" asp-action="TeacherAsk">Thưa cô em hỏi</a></li>
                    }

                    @if (@Context.Request.Path.ToString().Contains(ConstDirection.EntertainmentDirection))
                    {
                        <li class="active-link"><a asp-area="" asp-controller="Post" asp-action="Entertainment">Góc giải trí và tin tức</a></li>
                    }
                    else
                    {
                        <li><a asp-area="" asp-controller="Post" asp-action="Entertainment">Góc giải trí và tin tức</a></li>
                    }

                    @if (@Context.Request.Path.ToString().Contains(ConstDirection.Document))
                    {
                        <li class="active-link"><a asp-area="" asp-controller="Post" asp-action="Document">Tài liệu học tập</a></li>
                    }
                    else
                    {
                        <li><a asp-area="" asp-controller="Post" asp-action="Document">Tài liệu học tập</a></li>
                    }

                    @*<li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>*@
                    @if (@Context.Request.Path.ToString().Contains(ConstDirection.TestsDirection))
                    {
                        <li class="active-link"><a asp-area="" asp-controller="Tests" asp-action="Index">Danh sách bài kiểm tra</a></li>
                    }
                    else
                    {
                        <li><a asp-area="" asp-controller="Tests" asp-action="Index">Danh sách bài kiểm tra</a></li>
                    }

                    @*<li><a asp-area="" asp-controller="Post" asp-action="Index">Sự kiện</a></li>*@
                    @*@if (User.Identity.IsAuthenticated)
                        {
                            @if (@Context.Request.Path.ToString().Contains(ConstDirection.LaborDirection)
                            {
                                <li class="active-link"><a asp-area="" asp-controller="Tests" asp-action="Index">Lịch trực nhật</a></li>
                            }
                            else
                            {
                                <li><a asp-area="" asp-controller="Labor" asp-action="Index">Lịch trực nhật</a></li>
                            }
                        }*@
                    @if (User.IsInRole(ConstAuthozation.ROLE_ADMIN) || User.IsInRole(ConstAuthozation.ROLE_TEACHER) || User.IsInRole(ConstAuthozation.ROLE_PRESIDENT))
                    {
                        @if (@Context.Request.Path.ToString().Contains(ConstDirection.FineDirection))
                        {
                            <li class="active-link"><a asp-area="" asp-controller="Fine" asp-action="Index">Danh sách phạt</a></li>
                        }
                        else
                        {
                            <li><a asp-area="" asp-controller="Fine" asp-action="Index">Danh sách phạt</a></li>
                        }
                    }


                    @if (User.IsInRole(ConstAuthozation.ROLE_ADMIN))
                    {
                        @if (@Context.Request.Path.ToString().Contains(ConstDirection.UserDirection))
                        {
                            <li class="active-link"><a asp-area="" asp-controller="User" asp-action="Index">Quản lý người dùng</a></li>
                        }
                        else
                        {
                            <li><a asp-area="" asp-controller="User" asp-action="Index">Quản lý người dùng</a></li>
                        }
                        @if (@Context.Request.Path.ToString().Contains(ConstDirection.ClassDirection))
                        {
                            <li class="active-link"><a asp-area="" asp-controller="Class" asp-action="Index">Quản lý lớp</a></li>
                        }
                        else
                        {
                            <li><a asp-area="" asp-controller="Class" asp-action="Index">Quản lý lớp</a></li>
                        }
                    }


                    @if (@Context.Request.Path.ToString().Contains(ConstDirection.AboutDirection))
                    {
                        <li class="active-link"><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    }
                    else
                    {
                        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    }
                </ul>
            </div>
        </nav>
        <div class="before-body">@RenderSection("BeforeBody", required: false)</div>
        <div class="container body-content">
            @Html.Partial("_MessagePartial")
            @RenderBody()
            <hr />
        </div>
    </div>
    <footer>
        <div class="footer-top-line"></div>
        <div class="footer_content">Japanese Learning Forum for Rikkeisofters</div>
    </footer>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/datepicker/bootstrap-datepicker.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/lib/datepicker/bootstrap-datepicker.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
<script>
$(document).ready(function () {
    var showHeaderAt = 80;
    var win = $(window),
        body = $('body');

    if (win.width() > 600) {
        win.on('scroll', function (e) {
            if (win.scrollTop() > showHeaderAt) {
                body.addClass('fixed');
            }
            else {
                body.removeClass('fixed');
            }
        });
    }
});
</script>
