﻿@{
    var msgErr = (String)TempData[ConstMessage.MESSAGE_ERROR_KEY];
    var msgWarning = (String)TempData[ConstMessage.MESSAGE_WARNING_KEY];
    var msgSuccess = (String)TempData[ConstMessage.MESSAGE_SUCCESS_KEY];
    if (msgErr != null) {
        <div class="alert alert-danger fade in alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
            <strong>Lỗi!</strong> @msgErr.
        </div>
    }
    if (msgWarning != null)
    {
        <div class="alert alert-warning fade in alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
            <strong>Cảnh báo!</strong> @msgWarning.
        </div>
    }
    if (msgSuccess != null)
    {
        <div class="alert alert-success fade in alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
            <strong>Thành công!</strong> @msgSuccess.
        </div>
    }
}
