﻿@model StudentClassViewModel
@{
    ViewData["Title"] = "Danh sách học viên";
}

@{
    if (Model != null)
    {
        <h2>Danh sách học viên</h2>
        <p>
            <a href="javascript: document.f.submit();">Lưu</a>
        </p>
        <form asp-action="AddStudent" asp-controller="Class" method="post" name="f">
            <input type="hidden" name="id" value="@Model.Class.Id" />
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            Họ và tên
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Ngày sinh
                        </th>
                        <th>
                            Số điện thoại
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.Students)
                    {
                        <tr>
                            <th>
                                <input type="checkbox" name="usersId" value="@user.Id" />
                            </th>
                            <th>
                                @Html.DisplayFor(x => user.FirstName) @Html.DisplayFor(x => user.LastName)
                            </th>
                            <th>
                                @Html.DisplayFor(x => user.Email)
                            </th>
                            <th>
                                @Html.DisplayFor(x => user.Birthday)
                            </th>
                            <th>
                                @Html.DisplayFor(x => user.PhoneNumber)
                            </th>
                            <th></th>
                        </tr>
                    }
                </tbody>
            </table>
        </form>
    }
    else
    {
        <h1>Không có dữ liệu</h1>
    }
}


