﻿@model CalendarViewModel
@{
    ViewData["Title"] = "Lịch học";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href='~/lib/fullcalendar-3.4.0/fullcalendar.css' rel='stylesheet' />
<link href='~/lib/fullcalendar-3.4.0/fullcalendar.print.css' rel='stylesheet' media='print' />
<style>
    #calendar {
        max-width: 900px;
        margin: 0 auto;
    }
</style>

<div id="calendar"></div>
<!-- modal -->
<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="AddCalendar" method="post" id="calendarForm">
                <div class="modal-header  text-center">
                    <h3 id="BtnGoToDay" class="btn-link" data-dismiss="modal"></h3>
                </div>
                <div class="modal-body">
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="ClassId" />
                    <div class="form-group">
                        <label asp-for="Title" class="col-md-2 control-label"></label>
                        <input asp-for="Title" class="form-control">
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Location" class="col-md-2 control-label"></label>
                        <input asp-for="Location" class="form-control">
                        <span asp-validation-for="Location" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AllDay" class="col-md-2 control-label"></label>
                        <input asp-for="AllDay" type="checkbox" />
                    </div>
                    <div class="form-group" id="startTimeGrp">
                        <label asp-for="TimeStart" class="col-md-2 control-label"></label>
                        <input asp-for="TimeStart" class="form-control">
                        <span asp-validation-for="TimeStart" class="text-danger"></span>
                    </div>
                    <div class="form-group" id="endTimeGrp">
                        <label asp-for="TimeEnd" class="col-md-2 control-label"></label>
                        <input asp-for="TimeEnd" class="form-control">
                        <span asp-validation-for="TimeEnd" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateStart" class="col-md-2 control-label"></label>
                        <input asp-for="DateStart" class="form-control datepicker-input" data-date-format="mm/dd/yyyy">
                        <span asp-validation-for="DateStart" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateEnd" class="col-md-2 control-label"></label>
                        <input asp-for="DateEnd" class="form-control datepicker-input" data-date-format="mm/dd/yyyy">
                        <span asp-validation-for="DateEnd" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RepeatType" class="col-md-2 control-label"></label>
                        <div class="col-md-3"><input asp-for="RepeatType" id="RepeatType_@ConstRepeatType.NotRepeat" type="radio" value="@ConstRepeatType.NotRepeat">Không lặp</div>
                        <div class="col-md-2"><input asp-for="RepeatType" id="RepeatType_@ConstRepeatType.Daily" type="radio" value="@ConstRepeatType.Daily">Ngày</div>
                        <div class="col-md-2"><input asp-for="RepeatType" id="RepeatType_@ConstRepeatType.Weekly" type="radio" value="@ConstRepeatType.Weekly">Tuần</div>
                        @*<div class="col-md-2"><input asp-for="RepeatType" type="radio" value="@ConstRepeatType.Monthly">Tháng </div>
                            <div class="col-md-2"><input asp-for="RepeatType" type="radio" value="@ConstRepeatType.Yearly">Năm</div>*@
                    </div>
                    <div class="form-group hidden" id="weekLoopGrp">
                        @Html.CheckBoxFor(m => m.Dow[ConstWeek.Monday], new { @checked = "checked" }) Thứ 2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        @Html.CheckBoxFor(m => m.Dow[ConstWeek.Tuesday], new { @checked = "checked" }) Thứ 3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        @Html.CheckBoxFor(m => m.Dow[ConstWeek.Wednesday], new { @checked = "checked" }) Thứ 4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        @Html.CheckBoxFor(m => m.Dow[ConstWeek.Thursday], new { @checked = "checked" }) Thứ 5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        @Html.CheckBoxFor(m => m.Dow[ConstWeek.Friday], new { @checked = "checked" }) Thứ 6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        @Html.CheckBoxFor(m => m.Dow[ConstWeek.Saturday], new { @checked = "checked" }) Thứ 7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        @Html.CheckBoxFor(m => m.Dow[ConstWeek.Sunday], new { @checked = "checked" }) Chủ nhật&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                    <input id="currentClickDay" type="hidden" />
                    <br />
                </div>
                <div class="modal-footer">
                    <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                        <div class="btn-group" role="group">
                            <button type="submit" id="btnSaveEvent" class="btn btn-1BBC9B" data-action="save" role="button">Lưu</button>
                        </div>
                        <div id="deleteBtnWrap" class="btn-group hidden" role="group">
                            <button type="button" id="btnDeleteEvent" class="btn btn-danger" data-action="">Xóa</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-unborder" data-dismiss="modal" role="button">Đóng</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div>@ViewBag.Events</div>
@section Scripts{
    <script src='~/lib/fullcalendar-3.4.0/lib/moment.min.js'></script>
    <script src='~/lib/fullcalendar-3.4.0/fullcalendar.min.js'></script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        $(document).ready(function () {
            $('#DateStart').datepicker({
                format: 'mm/dd/yyyy'
            });
            $('#DateEnd').datepicker({
                format: 'mm/dd/yyyy'
            });
            calendarGenerate("#calendar", "/Class/GetEvents?classId=@Model.ClassId", selectCalendarFunction, eventClickedEvent);
            $('#BtnGoToDay').click(function () {
                day = $("#currentClickDay").val();
                $('#calendar').fullCalendar('changeView', 'agendaDay', day);
            });

            $()

            $("input[name='RepeatType']").change(function () {
                if (this.value == REPEAT_WEEKLY) {
                    $("#weekLoopGrp").removeClass("hidden");
                } else {
                    $("#weekLoopGrp").addClass("hidden");
                    for (var i = 0; i < 7; i++) {
                        $("#Dow_" + i + "_").prop('checked', false);
                    }
                }
            });

            $("input[name='AllDay']").change(function () {
                if (this.checked) {
                    $("#startTimeGrp").addClass("hidden");
                    $("#endTimeGrp").addClass("hidden");
                } else {
                    $("#startTimeGrp").removeClass("hidden");
                    $("#endTimeGrp").removeClass("hidden");
                }
            });

            $("#btnDeleteEvent").click(function () {
                if (confirm("Bạn chắc chắn muốn xóa ?")) {
                    $("#calendarForm").attr("action", "/Class/DeleteCalendar");
                    $("#calendarForm").submit();
                }
            });
           
            $("#calendarForm").submit(function (e) {
                e.preventDefault();
                if ($(this).valid()) {
                    $.ajax({
                        type: this.method,
                        url: this.action,
                        data: $(this).serialize(),
                        success: function (response) {
                            if (response == @ConstResult.Succeed){
                                $("#eventModal").modal('hide');
                                $('#calendar').fullCalendar('refetchEvents');
                            } else if(response == @ConstResult.Failed) {
                                alert("Có lỗi xảy ra hoặc dữ liệu chưa hợp lệ.");
                            } else {
                                alert(response);
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert(errorThrown);
                        }
                    });
                }
            });
        });

        function selectCalendarFunction(start, end, allDay) {
            $("#calendarForm").attr('action', "/Class/AddCalendar");
            $("#Title").val("@Html.Raw(Model.Title)");
            $("#Location").val("@Html.Raw(Model.Location)");
            $("#DateStart").val(moment(start).format("MM/DD/YYYY"));
            $("#DateStart").datepicker('update', start);
            $("#DateEnd").val(moment(end).format("MM/DD/YYYY"));
            $("#DateEnd").datepicker('update', end);
            $("#TimeStart").val(moment(start).format('HH:mm:ss'));
            $("#TimeEnd").val(moment(end).format('HH:mm:ss'));
            $("#currentClickDay").val(start);
            $("#BtnGoToDay").text(moment(start).format("DD-MM-YYYY"));
            $("#deleteBtnWrap").addClass("hidden");
            $("#eventModal").modal();
        }

        function eventClickedEvent(calEvent, jsEvent, view) {
            $.ajax({
                type: "post",
                url: "/Class/GetEvent",
                data:
                {
                    id: calEvent.id
                },
                success: function (response) {
                    $("#calendarForm").attr("action", "/Class/UpdateCalendar");
                    $("#Id").val(response.id);
                    $("#Title").val(response.title);
                    $("#DateStart").val(moment(response.dateStart).format("MM/DD/YYYY"));
                    $("#DateEnd").val(moment(response.dateEnd).format("MM/DD/YYYY"));
                    $("#DateStart").datepicker('update', response.dateStart);
                    $("#DateEnd").datepicker('update', response.dateEnd);
                    $("#TimeStart").val(response.timeStart);
                    $("#TimeEnd").val(response.timeEnd);
                    $("#Location").val(response.location);
                    $("#RepeatType_" + response.repeatType).checked = true;
                    $("#deleteBtnWrap").removeClass("hidden");
                    $("#currentClickDay").val(response.dateStart);
                    $("#BtnGoToDay").text(moment(response.dateStart).format("DD-MM-YYYY"));
                    if (response.repeatType == @ConstRepeatType.Weekly){
                        $("#weekLoopGrp").removeClass("hidden");
                        var repeatDateArr = response.repeatNo.split(',');
                        jQuery.each(repeatDateArr, function (i, val) {
                            $("#Dow_" + val + "_").prop('checked', true);
                        });
                    } else {
                        $("#weekLoopGrp").addClass("hidden");
                        for (var i = 0; i < 7; i++) {
                            $("#Dow_" + i + "_").prop('checked', false);
                        }
                    }
                    $("#eventModal").modal();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        }
    </script>
}
