﻿@model CreateEditClassViewModel

@{
    ViewData["Title"] = "Thêm lớp";
}

<h2>Thêm mới lớp</h2>
<hr />

<form asp-action="Create">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TeacherId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="TeacherId" class="form-control" asp-items="@Model.TeacherList"></select>
                <span asp-validation-for="TeacherId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-sm btn-success" />
                <input type="reset" value="Hủy bỏ" class="btn btn-sm btn-danger" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Trở về trang danh sách</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
