﻿@model IndexClassViewModel

@{
    ViewData["Title"] = "Danh sách lớp";
}

<h2>Danh sách lớp</h2>
<hr />
<p>
    <a class="btn btn-1BBC9B" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Classes.FirstOrDefault().Name)
            </th>
            <th>
                Số lượng học sinh
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Classes.FirstOrDefault().CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Classes.FirstOrDefault().CreatedOwner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Classes.FirstOrDefault().Teacher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Classes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @item.ClassStudents.Count
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.CreatedOwner.LastName) @Html.DisplayFor(modelItem => item.CreatedOwner.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.LastName) @Html.DisplayFor(modelItem => item.Teacher.FirstName)
            </td>
            <td>
                @Html.ActionLink("Danh sách học viên", "ListStudent", "Class", new { id = item.Id}) |
                @Html.ActionLink("Sửa", "Edit", "Class", new { id = item.Id }) |
                @Html.ActionLink("Lịch học", "Calendar", new { id = item.Id })|
                @Html.ActionLink("Xóa", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
    </tbody>
</table>
