﻿@model StudentClassViewModel
@{
    ViewData["Title"] = "Danh sách học viên";
}

@{
    if (Model != null)
    {
        <h2>@Model.Class.Name</h2>
        <p>
            <a asp-action="AddStudent" asp-controller="Class" asp-route-id="@Model.Class.Id">Thêm sinh viên</a> |
            <a href="javascript: document.f.submit();">Xóa sinh viên</a>
        </p>
        if (Model.Students != null && Model.Students.Count > 0)
        {
            <form asp-action="RemoveStudent" asp-controller="Class" method="post" name="f">
                <input type="hidden" name="id" value="@Model.Class.Id" />
                <table class="table">
                    <thead>
                        <tr>
                            <th><input type="checkbox" /></th>
                            <th>
                                @Html.DisplayNameFor(model => model.Students.FirstOrDefault().LastName) @Html.DisplayNameFor(model => model.Students.FirstOrDefault().FirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Students.FirstOrDefault().Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Students.FirstOrDefault().Birthday)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Students.FirstOrDefault().PhoneNumber)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.Students)
                        {
                            <tr>
                                <th>
                                    <input type="checkbox" name="usersId" value="@user.Id" />
                                </th>
                                <th>
                                    @Html.DisplayFor(x => user.LastName) @Html.DisplayFor(x => user.FirstName) 
                                </th>
                                <th>
                                    @Html.DisplayFor(x => user.Email)
                                </th>
                                <th>
                                    @Html.DisplayFor(x => user.Birthday)
                                </th>
                                <th>
                                    @Html.DisplayFor(x => user.PhoneNumber)
                                </th>
                                <th></th>
                            </tr>
                        }
                    </tbody>
                </table>
            </form>
        }
        else
        {
            <h1>Không có sinh viên nào</h1>

        }
    }
    else
    {
        <h1>Lớp học không tồn tại</h1>
    }
}

