﻿@model AddOrEditUserViewModel
@{
    ViewData["Title"] = "Create user";
}

<h2>Create user</h2>
<hr />
<form asp-controller="User" asp-action="Create" method="post" class="form-horizontal">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FirstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Birthday" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Birthday" id="Birthday" class="datepicker-input form-control"  data-date-format="mm/dd/yyyy"/>
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Gender" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Gender" type="radio" value="@ConstGender.Unknow" checked /> Không xác định
                <input asp-for="Gender" type="radio" value="@ConstGender.Male" checked /> Nam
                <input asp-for="Gender" type="radio" value="@ConstGender.Female" checked /> Nữ
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SelectedRoles" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @foreach (var item in Model.RoleList)
                {
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                   name="SelectedRoles"
                                   value="@item.Key"
                                   checked="@item.Value" /> @item.Key
                            </label>
                        </div>
                }
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-sm btn-success" />
                <input type="reset" value="Hủy bỏ" class="btn btn-sm btn-danger" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Trở về trang danh sách</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(
            function () {
                $('#Birthday').datepicker();
            });
    </script>
}


