﻿@model FineItemViewModel
@{
    ViewData["Title"] = "Tạo mới";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thêm mới phạt</h2>
<hr />

<form asp-action="Create">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ClassId" class="form-control" />
        <div class="form-group">
            <label asp-for="Student" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="StudentId" class="form-control" asp-items="@Model.StudentList"></select>
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AmountOfMoney" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AmountOfMoney" class="form-control" />
                <span asp-validation-for="AmountOfMoney" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Reason" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Reason" class="form-control" />
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IsPay" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IsPay" type="checkbox"/>
                <span asp-validation-for="IsPay" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-sm btn-success" />
                <input type="reset" value="Hủy bỏ" class="btn btn-sm btn-danger" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Trở về trang danh sách</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}