﻿@model IndexClassViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách nộp phạt các lớp</h2>
<hr />
@foreach (var item in Model.Classes)
{
    @if (await AuthorizationService.AuthorizeAsync(User, item, Operations.ViewFineFromClass))
    {
        <div><a asp-action="List" asp-route-classId="@item.Id">@item.Name</a></div>
    }
}