﻿@model IndexFineViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách nộp phạt lớp @Model.Class.Name</h2>
<hr />
<p>
    <a class="btn btn-1BBC9B" asp-action="Create" asp-route-classId="@Model.Class.Id">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="List" asp-route-sortOrder="@SortOrder.CreatedAt" asp-route-classId="@Model.Class.Id">@Html.DisplayNameFor(model => model.FineList.FirstOrDefault().CreatedAt)</a>
            </th>
            <th>
                <a asp-action="List" asp-route-sortOrder="@SortOrder.Name" asp-route-classId="@Model.Class.Id">@Html.DisplayNameFor(model => model.FineList.FirstOrDefault().Student)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FineList.FirstOrDefault().AmountOfMoney)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FineList.FirstOrDefault().Reason)
            </th>
            <th>
                <a asp-action="List" asp-route-sortOrder="@SortOrder.Status" asp-route-classId="@Model.Class.Id">@Html.DisplayNameFor(model => model.FineList.FirstOrDefault().IsPay)</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.FineList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.LastName) @Html.DisplayFor(modelItem => item.Student.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountOfMoney)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reason)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsPay)
                </td>
                <td>
                    @if (item.IsPay)
                    {
                        @Html.ActionLink("Chưa nộp phạt", "PayFine", new { id = item.Id }, new { onclick = "return confirm('Bạn chắc chắn ?');" })
                    }
                    else
                    {
                        @Html.ActionLink("Đã nộp phạt", "PayFine", new { id = item.Id }, new { onclick = "return confirm('Bạn chắc chắn ?');" })
                    }
                </td>
            </tr>
        }
        <tr>
            <td colspan="2">@Html.DisplayNameFor(model => model.Sum)</td>
            <td>@Html.DisplayFor(model => model.Sum)</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>