﻿/*1BBC9B RGB(27, 188, 155)  & 2D3E50 RGB(45,62,80) & */
html {
    height: 100%;
    box-sizing: border-box;
}

body {
    padding-bottom: 20px;
    margin: 0px auto;
    position: relative;
    min-height: 100%;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

/*.wrapper {
    width: 94%;
}*/

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

.bg-2D3E50 {
    color: #fff;
    background: #2D3E50;
    padding: 10px;
}

.bg-1BBC9B {
    color: #fff;
    background: #1BBC9B;
    padding: 10px;
}

.active-link {
    background-color: #1BBC9B;
}

.dropdown-menu {
    z-index: 1060 !important; 
}
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

/*Button*/

.btn-1BBC9B {
    color: #fff;
    background-color: #1BBC9B;
    border-radius: unset;
}

    .btn-1BBC9B:hover {
        color: #fff;
        background-color: #09A089;
        border-radius: unset;
    }

.btn-unborder {
    border-radius: unset !important;
}

/*Thumbnail*/
.img-thumbnail {
    width: 150px;
    border: none;
}

.img-thumbnail-sm {
    width: 70px;
    border: none;
}

/*header*/
.img-carousel {
    margin: auto;
    width: auto;
    height: 500px !important;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
}

.navbar-right {
    margin-right: 0px !important;
}

.fixed .header-fixed {
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 16;
}

.fixed header-invisible {
    display: none;
}

.fixed .before-body {
    padding-top: 69px;
}

.header-logo > a {
    color: #1BBC9B;
    font-size: 35px;
    font-family: Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,"Helvetica Inserat","Bitstream Vera Sans Bold","Arial Black","sans serif"
}

.header-invisible {
    margin: 0px auto;
    height: 80px;
    padding: 10px;
}

.header-fixed {
    background-color: #2D3E50;
    box-shadow: 0 1px 1px #ccc;
    box-sizing: border-box;
    -webkit-transition: top 0.3s;
    transition: top 0.3s;
    margin: 0px auto;
}

    .header-fixed a {
        color: #ffffff;
        font-family: Arial;
        font-size: 16px;
    }

        .header-fixed a:hover {
            background: #102130 !important;
        }

/*.header-fixed a:first-child:hover {
            background: transparent !important;
        }*/

/**/

/*Footer*/
.footer-top-line {
    background: #2D3E50;
    width: 100%;
    height: 5px;
}

.footer_content {
    margin: auto;
    color: #2D3E50;
    margin: 10px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

#page-home-index {
    overflow: hidden;
}

#logoutForm a, #logoutForm .btn-link {
    color: #2D3E50;
}


#myCarousel {
    margin-bottom: 50px;
    background-color: #808080;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/*Comment*/
.edit-comment, .remove-comment {
    font-size: 25px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
