﻿@{
    ViewData["Title"] = "About";
}

<h2>Forum tiếng Nhật dành cho các Rikkeisofter và các lớp học tiếng Nhật tại công ty Rikkeisoft.</h2>
<div class="row col-md-8 col-md-offset-2">
    <p>Trong quá trình có thêm yêu cẩu hoặc có phát sinh lỗi gì mọi người vui lòng liên hệ tới chipl@rikkeisoft.com :)</p>
    <p>hoặc truy cập <a target="_blank" href="https://goo.gl/forms/La89eUt92qs93SJR2"> tại đây</a> </p>
    <p>ありがとうございます。</p>
</div>
