﻿@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
    int totalCarouselPost = Model.CarouselPosts.ListTopPosts.Count();
}
@section BeforeBody{
    @if (totalCarouselPost > 0) {
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
            <ol class="carousel-indicators">
                @for (int i = 0; i < totalCarouselPost; i++)
                {
                    @if (i == 0)
                    {
                        @Html.Raw("<li data-target='#myCarousel' data-slide-to='0' class='active'></li>");
                    }
                    else
                    {
                        @Html.Raw("<li data-target='#myCarousel' data-slide-to='" + i + "'></li>");

                    }
                }
            </ol>
            <div class="carousel-inner" role="listbox">
                @for (int i = 0; i < totalCarouselPost; i++)
                {
                    @if (i == 0)
                    {
                        @Html.Raw("<div class='item active'>");
                    }
                    else
                    {
                        @Html.Raw("<div class='item'>");

                    }
                    <a href="Post/Details?id=@Model.CarouselPosts.ListTopPosts[i].Id">
                        <img src="@Html.Raw(Model.CarouselPosts.ListTopPosts[i].Thumbnail)" class="img-responsive img-carousel" />
                        <div class="carousel-caption" role="option">
                            <p>
                                @Html.Raw(Model.CarouselPosts.ListTopPosts[i].Title)
                            </p>
                        </div>
                    </a>
                    @Html.Raw("</div>");
                }
            </div>
        </div>
    }
}
<div id="page-home-index">
    <div class="col-md-8 col-sm-12">
        @foreach (var item in Model.ListCategoryWithPosts)
        {
            if (item.ListTopPosts.Count > 0)
            {
                <div>
                    <div class="h3 bg-1BBC9B">@item.CategoryName</div>
                    @foreach (var item1 in item.ListTopPosts)
                {
                @if (await AuthorizationService.AuthorizeAsync(User, item1, Operations.ViewItem))
                    {
                <div class="row">
                    <div class="col-lg-4">
                        <a href="Post/Details?id=@item1.Id"><img class='img-thumbnail' src='@Html.Raw(item1.Thumbnail)' /></a>
                    </div>
                    <div class="col-lg-8">
                        <div class="h4">
                            <a href="Post/Details?id=@item1.Id"><strong>@Html.DisplayFor(modelItem => item1.Title)</strong></a>
                        </div>
                        <div>
                            @Html.Raw(item1.Summary) @Html.ActionLink(" Xem thêm", "Details", "Post", new { id = item1.Id })
                        </div>
                        <div>
                            Ngày tạo: @Html.DisplayFor(modelItem => item1.CreatedAt)
                        </div>
                        <div>
                            Người viết: @Html.DisplayFor(modelItem => item1.CreatedOwner.UserName)
                        </div>
                    </div>
                </div>
                <hr>
                    }
                }
                </div>
            }
        }
    </div>
    <div class="col-md-4">
        <div class="h3 bg-1BBC9B">@Model.MostReadPosts.CategoryName</div>
        <div>
            @foreach (var item in Model.MostReadPosts.ListTopPosts)
            {
                @if (await AuthorizationService.AuthorizeAsync(User, item, Operations.ViewItem))
                {
                    <div class="row">
                        <div class="col-lg-4">
                            <a href="Post/Details?id=@item.Id"><img class='img-thumbnail' src='@Html.Raw(item.Thumbnail)' /></a>
                        </div>
                        <div class="col-lg-8">
                            <div class="h4">
                                <a href="Post/Details?id=@item.Id"><strong>@Html.DisplayFor(modelItem => item.Title)</strong></a>
                            </div>
                            <div>
                                Ngày tạo: @Html.DisplayFor(modelItem => item.CreatedAt)
                            </div>
                        </div>
                    </div>
                    <hr>
                }
            }
        </div>
    </div>
</div>
