﻿@model JapaneseForum.Models.LaborViewModels.LaborIndexViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href='~/lib/fullcalendar-3.4.0/fullcalendar.css' rel='stylesheet' />
<link href='~/lib/fullcalendar-3.4.0/fullcalendar.print.css' rel='stylesheet' media='print' />
<style>
    #calendar {
        max-width: 900px;
        margin: 0 auto;
    }
</style>

<div id="calendar"></div>
<!-- modal -->
<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header  text-center">
                <h3 id="BtnGoToDay" class="btn-link" data-dismiss="modal" ></h3>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Ngày trực nhật</label>
                        <input type="date" id="laborDate" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Lớp</label>
                        <input class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input class="form-control">
                    </div>
                    <input id="currentClickDay" type="hidden" />
                </form>
            </div>
            <div class="modal-footer">
                <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                    <div class="btn-group" role="group">
                        <button type="button" id="btnSaveEvent" class="btn btn-1BBC9B" data-action="save" role="button">Lưu</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-unborder" data-dismiss="modal" role="button">Đóng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>@ViewBag.Events</div>
@section Scripts{
    <script src='~/lib/fullcalendar-3.4.0/lib/moment.min.js'></script>
    <script src='~/lib/fullcalendar-3.4.0/fullcalendar.min.js'></script>
    <script>
        $(document).ready(function () {
            calendarGenerate("#calendar", "/Labor/GetEvents", selectCalendarFunction, eventClickedEvent);
        });

        $('#BtnGoToDay').click(function () { 
            day = document.getElementById("currentClickDay").value;
            $('#calendar').fullCalendar('gotoDate', day);
            $('#calendar').fullCalendar('changeView', 'agendaDay');
        });
        
        function selectCalendarFunction(start, end, allDay) {
            document.getElementById("laborDate").value = moment(start).format("YYYY-MM-DD");
            document.getElementById("currentClickDay").value = start;
            document.getElementById("BtnGoToDay").innerHTML = moment(start).format("DD-MM-YYYY");
            $("#eventModal").modal();
        }
        
        function eventClickedEvent(start, end, allDay) {
            alert("asdfasdf");
        }

    </script>
}