
@{
    ViewData["Title"] = "TestTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TestTest</h2>
<link href='~/lib/fullcalendar-3.4.0/fullcalendar.min.css' rel='stylesheet' />
<link href='~/lib/fullcalendar-3.4.0/fullcalendar.print.min.css' rel='stylesheet' media='print' />
<style>
    #calendar {
        max-width: 900px;
        margin: 0 auto;
    }
</style>
<div id="calendar"></div>
@section Scripts{
    <script src='~/lib/fullcalendar-3.4.0/lib/moment.min.js'></script>
    <script src='~/lib/fullcalendar-3.4.0/fullcalendar.min.js'></script>
    <script>
        var defaultEvents = [
            {
                // Monthly event
                id: 111,
                title: 'Meeting',
                start: '2000-01-01T00:00:00',
                className: 'scheduler_basic_event',
                repeat: REPEAT_MONTHLY
            },
            {
                // Annual avent
                id: 222,
                title: 'Birthday Party',
                start: '2017-02-04T07:00:00',
                description: 'This is a cool event',
                className: 'scheduler_basic_event',
                repeat: REPEAT_YEARLY
            }
        ];

        // Any value represanting monthly repeat flag
        var REPEAT_MONTHLY = 1;
        // Any value represanting yearly repeat flag
        var REPEAT_YEARLY = 2;

        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            editable: true,
            defaultDate: '2017-02-16',
            eventSources: [defaultEvents],
            dayRender: function (date, cell) {
                // Get all events
                var events = $('#calendar').fullCalendar('clientEvents');
                // Start of a day timestamp
                var dateTimestamp = date.hour(0).minutes(0);
                var recurringEvents = new Array();

                // find all events with monthly repeating flag, having id, repeating at that day few months ago  
                var monthlyEvents = events.filter(function (event) {
                    return event.repeat === REPEAT_MONTHLY &&
                        event.id &&
                        moment(event.start).hour(0).minutes(0).diff(dateTimestamp, 'months', true) % 1 == 0
                });

                // find all events with monthly repeating flag, having id, repeating at that day few years ago  
                var yearlyEvents = events.filter(function (event) {
                    return event.repeat === REPEAT_YEARLY &&
                        event.id &&
                        moment(event.start).hour(0).minutes(0).diff(dateTimestamp, 'years', true) % 1 == 0
                });

                recurringEvents = monthlyEvents.concat(yearlyEvents);

                $.each(recurringEvents, function (key, event) {
                    var timeStart = moment(event.start);

                    // Refething event fields for event rendering 
                    var eventData = {
                        id: event.id,
                        allDay: event.allDay,
                        title: event.title,
                        description: event.description,
                        start: date.hour(timeStart.hour()).minutes(timeStart.minutes()).format("YYYY-MM-DD"),
                        end: event.end ? event.end.format("YYYY-MM-DD") : "",
                        url: event.url,
                        className: 'scheduler_basic_event',
                        repeat: event.repeat
                    };

                    // Removing events to avoid duplication
                    $('#calendar').fullCalendar('removeEvents', function (event) {
                        return eventData.id === event.id &&
                            moment(event.start).isSame(date, 'day');
                    });
                    // Render event
                    $('#calendar').fullCalendar('renderEvent', eventData, true);

                });

            }
        });
    </script>
}

