﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Upload image </title>
</head>
<body>
    <form method="post" asp-action="ImageUpload" enctype="multipart/form-data">
        <input type="file" name="files" accept="image/*" />
        <input type="submit" value="Upload" />
    </form>
</body>
</html>
<environment names="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
</environment>
<environment names="Staging,Production">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
    </script>
</environment>

<script>
    $('form').submit(function (e) {
        e.preventDefault();
        var formData = new FormData(this);
        $.ajax({
            type: this.method,
            url: this.action,
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                if (data == "@ConstMessage.MESSAGE_FAILED_ADD_DATA"){
                    window.close();
                    alert("Lỗi upload ảnh.");
                } else {
                    var dialog = window.opener.CKEDITOR.dialog.getCurrent();
                    dialog.setValueOf('info', 'txtUrl', data);
                    window.close();
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
                console.log(textStatus);
                console.log(errorThrown);
            }
        });
    });
</script>