﻿@model JapaneseForum.Models.QuestionViewModels.CreateQuestionViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .btn {
        width: 150px;
    }
</style>

<h4>Bài test "@ViewBag.TestName" - Câu hỏi @Model.No</h4>

<form asp-action="Create">
    <div class="form-horizontal">
        <hr />
        <p>
            Danh sách câu hỏi:
            @foreach (var item in @ViewBag.QuestionNoList)
            {
                <input type="submit" value="@item" name="BtnSubmit" class="btn-link cancel" />
            }
        </p>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" value="@Model.Id" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Content" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <textarea id="content" asp-for="Content" class="form-control"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="AnswerA" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input type="radio" asp-for="AnswerA" class="form-control" />
            <span asp-validation-for="AnswerA" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="AnswerB" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input type="radio" asp-for="AnswerB" class="form-control" />
            <span asp-validation-for="AnswerB" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="AnswerC" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input type="radio" asp-for="AnswerC" class="form-control" />
            <span asp-validation-for="AnswerC" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="AnswerD" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input type="radio" asp-for="AnswerD" class="form-control" />
            <span asp-validation-for="AnswerD" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="RightAnswer" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="RightAnswer" class="form-control" asp-items="@Model.AnwerList"></select>
            <span asp-validation-for="RightAnswer" class="text-danger"></span>
        </div>
    </div>
    <hr />
    <div class="form-group">
        <div class="col-md-2 col-md-offset-6">
            <input type="submit" value="Cập nhật" name="BtnSubmit" class="btn btn-primary right" />
        </div>
        <div class="col-md-2">
            <input type="submit" value="Thêm câu hỏi mới" name="BtnSubmit" class="btn btn-warning right" />
        </div>
        <div class="col-md-2">
            <input type="submit" value="Hoàn thành và lưu" name="BtnSubmit" class="btn btn-success right" />
        </div>
    </div>
    </div>
</form>

<div>
    <a asp-action="Index">Trở về trang danh sách</a>
</div>

@section Scripts {
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script src="~/lib/ckeditor/adapters/jquery.js"></script>
    <script>
        $("#content").ckeditor();
        CKEDITOR.on('instanceReady', function () {
            $("#content").removeAttr('style');
            $("#content").css({ "visibility": "hidden", "height": "0"})
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}