@model IEnumerable<Comment>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CommentListPartial</title>
</head>
<body>
    @foreach (var item in Model.OrderByDescending(i => i.CreatedAt))
    {
        <hr />
        <div class="row">
            @if (await AuthorizationService.AuthorizeAsync(User, item, Operations.Update))
            {
                <div class="col-md-1 col-md-offset-11">
                    @*<span data-id="@item.Id" class="glyphicon glyphicon-edit edit-comment icon-up-big"></span>*@
                    <span data-id="@item.Id" class="glyphicon glyphicon-remove-circle remove-comment"></span>
                </div>
            }
            @if (item.CreatedOwner != null)
            {
                if (item.CreatedOwner.LastName == null && item.CreatedOwner.FirstName == null)
                {
                    <strong>@item.CreatedOwner.UserName</strong>
                }
                else
                {
                    <strong>@item.CreatedOwner.LastName @item.CreatedOwner.FirstName</strong>
                }

            }
            <small>@item.CreatedAt</small>
            <div>@item.Content</div>
        </div>
    }
</body>
</html>
