﻿@model PostViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h3 class="text-capitalize">@Html.DisplayFor(model => model.Title)</h3>
    <hr />
    <div class="row">@Html.Raw(Model.Content)</div>
    <div class="row">
        @Html.DisplayNameFor(model => model.CreatedAt): @Html.DisplayFor(model => model.CreatedAt)
    </div>
    <div class="row">
        @Html.DisplayNameFor(model => model.CreatedBy): @Html.DisplayFor(model => model.CreatedOwner.LastName) @Html.DisplayFor(model => model.CreatedOwner.FirstName)
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="row">
            <form id="CommentForm" asp-action="AddComment">
                <div class="form-inline">
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="@Model.Id" />
                    <label asp-for="NewComment" class="col-md-1 control-label"></label>
                    <div class="col-md-7">
                        <div class="row"><textarea rows="10" cols="100" style="max-width:100%" asp-for="NewComment" class="form-control"></textarea></div>
                        <div class="row"><span asp-validation-for="NewComment" class="text-danger"></span></div>
                    </div>
                    <div class="col-md-3">
                        <input type="submit" value="Bình luận" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    }
    else
    {
        <br />
        <br />
        @Html.ActionLink( "Vui lòng đăng nhập để bình luận", "Login", "Account", null, new { @class = "h5 text-danger" })
    }
    <div id="commentPartialView">
        @Html.Partial("CommentListPartial", Model.Comments)
    </div>

</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        $("#CommentForm").submit(function (e) {
            e.preventDefault();
            if ($(this).valid()) {
                $.ajax({
                    type: this.method,
                    url: this.action,
                    dataType: 'HTML',
                    data: $("#CommentForm").serialize(),
                    success: function (data) {
                        $('#NewComment').val('');
                        $('#commentPartialView').html(data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR);
                        console.log(textStatus);
                        console.log(errorThrown);
                    }
                });
            }
        });

        $(document).on('click', '.remove-comment', function (e) {
            if (confirm("Bạn chắc chắn xóa ?")) {
                id = $(this).data('id');
                $.ajax({
                    type: 'post',
                    url: 'RemoveComment',
                    dataType: 'HTML',
                    data: { id: id, postId: @Model.Id},
                    success: function (data) {
                        $('#commentPartialView').html(data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR);
                        console.log(textStatus);
                        console.log(errorThrown);
                    }
                });
            }
        });
    </script>
}