﻿@model IndexPostViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div id="page-post-index" class="row">
    <p>
        <a class="btn btn-1BBC9B" asp-action="Create">Create New</a>
    </p><hr>
</div>
<div class="row">
    <span>Pages: </span>
    @for (int i = 1; i <= Model.Page; i++)
    {
        if (Model.CurrentPage == i)
        {
            @Html.Raw("<span class='badge'> " + i + "</span>");
        }
        else
        {
            <span>@Html.ActionLink("" + i + "", "Index", new { page = i })</span>
        }
    }
</div>
<br />
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th class="text-center">
                <a asp-action="Index" asp-route-sortOrder="@SortOrder.Id" asp-route-page="@Model.CurrentPage">@Html.LabelFor(m => Model.ListPost.FirstOrDefault().Id)</a>
            </th>
            <th class="text-center">
                <a asp-action="Index" asp-route-sortOrder="@SortOrder.Category" asp-route-page="@Model.CurrentPage">@Html.LabelFor(m => Model.ListPost.FirstOrDefault().CategoryId)</a>
            </th>
            <th class="text-center">
                @Html.LabelFor(m => Model.ListPost.FirstOrDefault().Thumbnail)
            </th>
            <th class="text-center">
                @Html.LabelFor(m => Model.ListPost.FirstOrDefault().Title)
            </th>
            <th class="text-center">
                @Html.LabelFor(m => Model.ListPost.FirstOrDefault().Summary)
            </th>
            <th class="text-center">
                <a asp-action="Index" asp-route-sortOrder="@SortOrder.Status" asp-route-page="@Model.CurrentPage">@Html.LabelFor(m => Model.ListPost.FirstOrDefault().Status)</a>
            </th>
            <th class="text-center">
                <a asp-action="Index" asp-route-sortOrder="@SortOrder.CreatedAt" asp-route-page="@Model.CurrentPage"> @Html.LabelFor(m => Model.ListPost.FirstOrDefault().CreatedAt)</a>
            </th>
            <th class="text-center">
                <a asp-action="Index" asp-route-sortOrder="@SortOrder.CreatedBy" asp-route-page="@Model.CurrentPage">@Html.LabelFor(m => Model.ListPost.FirstOrDefault().CreatedOwner)</a>
            </th>
            <th class="text-center">

            </th>
            <th class="text-center">

            </th>
            <th class="text-center">

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListPost)
            {
            @if (await AuthorizationService.AuthorizeAsync(User, item, Operations.ViewItem))
                {
                <tr>
                    <td>
                        @Html.Raw(item.Id)
                    </td>
                    <td>
                        @Html.Raw(item.Category.Name)
                    </td>
                    <td>
                        <img class='img-thumbnail' src='@Html.Raw(item.Thumbnail)' />
                    </td>
                    <td>
                        <strong>@Html.DisplayFor(modelItem => item.Title)</strong>
                    </td>
                    <td>
                        @Html.Raw(item.Summary)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StatusText)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOwner.UserName)
                    </td>
                    <td>
                            @Html.ActionLink(" Xem thêm", "Details", new { id = item.Id })
                    </td>
                    <td>
                        @if (await AuthorizationService.AuthorizeAsync(User, item, Operations.Update))
                        {
                            @Html.ActionLink("Sửa", "Edit", new { id = item.Id })
                        }
                    </td>
                    <td>
                        @if (await AuthorizationService.AuthorizeAsync(User, item, Operations.Delete))
                        {
                            @Html.ActionLink("Xóa", "Delete", new { id = item.Id })
                        }

                    </td>
                </tr>
            }
        }
    </tbody>
</table>