﻿@model IndexPostViewModel
@{
    ViewData["Title"] = "Bài học";
}

@if (Model.ListPost.Count > 0)
{
    @foreach (var item in Model.ListPost)
    {
        @if (await AuthorizationService.AuthorizeAsync(User, item, Operations.ViewItem))
        {
            <div class="row">
                <div class="col-lg-4">
                    <a href="Post/Details?id=@item.Id"><img class='img-thumbnail' src='@Html.Raw(item.Thumbnail)' /></a>
                </div>
                <div class="col-lg-8">
                    <div class="h4">
                        <a href="Post/Details?id=@item.Id"><strong>@Html.DisplayFor(modelItem => item.Title)</strong></a>
                    </div>
                    <div>
                        @Html.Raw(item.Summary) @Html.ActionLink(" Xem thêm", "Details", "Post", new { id = item.Id })
                    </div>
                    <div>
                        Ngày tạo: @Html.DisplayFor(modelItem => item.CreatedAt)
                    </div>
                    <div>
                        Người viết: @Html.DisplayFor(modelItem => item.CreatedOwner.UserName)
                    </div>
                </div>
            </div>
            <hr>
        }
    }
    <div class="row">
        <span>Pages: </span>
        @for (int i = 1; i <= Model.Page; i++)
        {
            if (Model.CurrentPage == i)
            {
                @Html.Raw("<span class='badge'> " + i + "</span>");
            }
            else
            {
                <span class="   ">@Html.ActionLink("" + i + "", "Index", new { page = i })</span>
            }
        }
    </div>
}
else
{
    <h1>Không có bài viết nào</h1>
}